<div class="inventory-body">
    <div class="registrer">
        <div class="clr-row">
            <div>
                <div class="card">
                    <div class="card-header">
                        Centro Pronostici di Maresca
                    </div>
                    <div class="card-block">
                        <div class="card-title"></div>
                        <div class="card-text">

                            <form clrForm #loggato="ngForm" (submit)="login(loggato)">

                                <clr-input-container>
                                    <label>Username</label>
                                    <input clrInput type="text" [(ngModel)]="loggato.username" name="username"
                                        required />
                                </clr-input-container>

                                <clr-input-container>
                                    <label>Password</label>
                                    <input clrInput type="password" [(ngModel)]="loggato.password" name="password"
                                        required />
                                </clr-input-container>
                                <button class="btn btn-primary btn-block margine-16"
                                    [disabled]="loggato.invalid">Accedi</button>
                            </form>
                            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                            <div *ngIf="!isPresente" class="error active">
                                Invalid user name or password
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <h5 class="hint">Non sei registrato? Fallo adesso gratis <a routerLink="/register">qui!</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>