<clr-alert *ngIf="success" [clrAlertType]="'success'">
    <clr-alert-item>
        <span class="alert-text">{{success}}</span>
    </clr-alert-item>
</clr-alert>
<clr-alert *ngIf="error" [clrAlertType]="'warning'">
    <clr-alert-item>
        <span class="alert-text">{{error}}</span>
    </clr-alert-item>
</clr-alert>

<clr-datagrid>
    <clr-dg-column [style.min-width.px]="50" [style.width.px]="50"></clr-dg-column>
    <clr-dg-column>partita</clr-dg-column>
    <clr-dg-column>risultato</clr-dg-column>

    <clr-dg-row *clrDgItems="let element of gironi;let i = index;" [clrDgItem]="element">

        <clr-dg-cell  [style.min-width.px]="50" [style.width.px]="50">
            <clr-icon *ngIf="element.specie!='C'" shape="administrator" class="is-solid"
                (click)="onEditSelected(element);updateMatchModal = true">
            </clr-icon>
        </clr-dg-cell>
        <clr-dg-cell>{{element.descrizione}}</clr-dg-cell>
        <clr-dg-cell>{{element.risultato}}</clr-dg-cell>
    </clr-dg-row>

</clr-datagrid>

<clr-modal *ngIf="newSelected" [(clrModalOpen)]="updateMatchModal" [clrModalClosable]="false">
    <h3 class="modal-title">{{newSelected.descrizione}}</h3>
    <div class="modal-body">
        <form clrForm (submit)="onUpdateSelected(newSelected);updateMatchModal = false">        
            <clr-select-container>
                <label>Squadra</label>
                <select clrSelect name="newSelected.squadra" [(ngModel)]="newSelected.squadra">
                    <option *ngFor="let item of squadreGirone" value="{{item.nome}}">{{item.nome}}</option>
                </select>
            </clr-select-container>
            <br>
            <button class="btn btn-primary" [disabled]="!newSelected.squadra"
                style="float: right;">Aggiorna</button>
            <button type="button" class="btn btn-outline" (click)="updateMatchModal = false"
                style="float: right;">Annulla</button>
        </form>
    </div>

</clr-modal>
