<div class="container">
    <h2>Stacked form</h2>
    <form>
        <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class='fa fa-adjust'></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="username" required>
						
					</div>
          <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-bus"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="password" name="password" [(ngModel)]="password" required>
            </div>
      
      <button type="submit" class="btn btn-primary"  (click)="LoginUser()">Submit</button>
    </form>
  </div>

