<mat-toolbar style="background-color:#880E4F;color: cyan;">
  <mat-toolbar-row>
    <button mat-icon-button class="gap">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span *ngIf="dettagli&&combosel" class="cursore" (click)="competizioniModal = true">{{dettagli.sigla}}</span>
    <span class="filler"></span>
    <span *ngIf="isAdmin">{{username}} <clr-icon shape="user" [routerLink]="'/home/organizza-competizioni'"
        (click)="sidenav.close()">
      </clr-icon></span>
    <span *ngIf="!isAdmin">{{username}} <clr-icon shape="user"></clr-icon></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/home/dashboard'" (click)="sidenav.toggle()">
        <clr-icon class="icone" shape="home"></clr-icon>Home
      </a>
      <mat-divider *ngIf="isAdmin&&!isOpen"></mat-divider>
      <mat-divider *ngIf="isAdmin&&!isOpen"></mat-divider>
      <mat-divider *ngIf="isAdmin&&!isOpen"></mat-divider>
      <a *ngIf="isAdmin&&!isOpen" mat-list-item [routerLink]="'/home/nuova-competizione'" (click)="sidenav.toggle()">
        <clr-icon class="icone" shape="cog"></clr-icon>Crea Competizione
      </a>
      <mat-divider *ngIf="isAdmin"></mat-divider>
      <mat-divider *ngIf="isAdmin"></mat-divider>
      <mat-divider *ngIf="isAdmin"></mat-divider>
      <a *ngIf="isAdmin" mat-list-item [routerLink]="'/home/gestione-competizione'" (click)="sidenav.toggle()">
        <clr-icon class="icone" shape="event"></clr-icon>Gestione Competizione
      </a>
      <mat-divider *ngIf="isPlayer"></mat-divider>
      <mat-divider *ngIf="isPlayer"></mat-divider>
      <mat-divider *ngIf="isPlayer"></mat-divider>
      <a *ngIf="isPlayer" mat-list-item [routerLink]="'/home/pronostici-utente'" (click)="sidenav.toggle()">
        <clr-icon class="icone" shape="copy-to-clipboard"></clr-icon>Pronostici Utente
      </a>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/home/classifica'" (click)="sidenav.toggle()">
        <clr-icon class="icone" shape="calculator"></clr-icon>Classifica
      </a>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="logOut()">
        <clr-icon class="icone" shape="logout"></clr-icon>Logout
      </a>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item>
        <clr-icon class="icone" shape="window-close"></clr-icon>Close
      </a>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
    </mat-nav-list>
    <img src="assets/img/scommesse.png" class="mx-auto d-block" style="width:200px">
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="min-height: 88vh;padding:2%;background-color: rgb(219,219,219);">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar *ngIf="dettagli" style="background-color: #AD1457;">
  <span class='spacer'></span>
  <h3 style="color: blanchedalmond;">© {{dettagli.footer}}</h3>
  <span class='spacer'></span>
</mat-toolbar>



<clr-modal *ngIf="combosel" [(clrModalOpen)]="competizioniModal" [clrModalSize]="'xl'" [clrModalClosable]="false">
  <h3 class="modal-title"><b>CAMBIA COMPETIZIONE</b></h3>
  <div class="modal-body">

    <form clrForm (submit)="onSelectCompetizione(competizione)">

      <select class="selectBox" name="competizione" [(ngModel)]="competizione">
        <option *ngFor="let item of combosel.competizioni" value="{{item.id_comp}}">{{item.descrizione}}</option>
      </select>

      <br>
      <br>
      <button class="btn btn-primary" style="float: right;" [disabled]="competizione==''">Aggiorna</button>
      <button type="button" class="btn btn-outline" (click)="competizioniModal = false"
        style="float: right;">Chiudi</button>
    </form>
  </div>


</clr-modal>