<button *ngIf="!play" class="btn btn-success btn-block" (click)="nuovaScheda()">INSERISCI NUOVA SCHEDA</button>

<clr-alert *ngIf="success" [clrAlertType]="'success'">
  <clr-alert-item>
      <span class="alert-text">{{success}}</span>
  </clr-alert-item>
</clr-alert>
<clr-alert *ngIf="error" [clrAlertType]="'warning'">
  <clr-alert-item>
      <span class="alert-text">{{error}}</span>
  </clr-alert-item>
</clr-alert>

<form *ngIf="play" clrStepper #contactForm="ngForm" (ngSubmit)="inserisciFormSubmit()">
  
    <clr-stepper-panel *ngFor="let scheda of schede" [ngModelGroup]="scheda.partita">
      <clr-step-title>{{scheda.partita}}</clr-step-title>
      <clr-step-description>{{scheda.risultato}}</clr-step-description>
      <clr-step-content>
  
      
        <clr-radio-container clrInline>
          <label>Risultati Match</label>
          <clr-radio-wrapper *ngFor="let ris of risultatiClassici">
            <input type="radio" clrRadio name="scheda.risultato"  [value]="ris" [(ngModel)]="scheda.risultato" />
            <label>{{ris}}</label>
          </clr-radio-wrapper>
          <clr-radio-wrapper *ngFor="let ris of risultatiEsatti">
            <input type="radio" clrRadio name="scheda.risultato"  [value]="ris" [(ngModel)]="scheda.risultato" />
            <label>{{ris}}</label>
          </clr-radio-wrapper>
        </clr-radio-container>  
       
      </clr-step-content>
      <button clrStepButton="next">next</button>
    </clr-stepper-panel>

    <clr-stepper-panel ngModelGroup="inserisci">
      <clr-step-title>Aggiungi Scheda</clr-step-title>
      <clr-step-content>  
        <button class="btn btn-primary btn-block" clrStepButton="submit">Aggiungi</button>
      </clr-step-content>
    </clr-stepper-panel>
  </form>
