<span *ngIf="loading" class="spinner"></span>
<div class="bottoni">
<button *ngIf="!play" class="btn btn-success btn-block" (click)="nuovaScheda()">INSERISCI NUOVA SCHEDA</button>
</div>

<form *ngIf="play&&schede"  (ngSubmit)="inserisciFormSubmit()">
<clr-datagrid>
    <clr-dg-column [style.min-width.px]="50" [style.width.px]="50"></clr-dg-column>
    <clr-dg-column>scommessa</clr-dg-column>
    <clr-dg-column>risultato</clr-dg-column>

    <clr-dg-row *clrDgItems="let match of schede;let i = index;" [clrDgItem]="match">
     
        <clr-dg-cell [style.min-width.px]="50" [style.width.px]="50">
            <clr-icon *ngIf="match.tipo==1" shape="administrator" class="is-solid"(click)="onEditMatch(i);risultatiModal = true"></clr-icon>
            <clr-icon *ngIf="match.id_partita==39||match.id_partita==41 ||match.id_partita==42" shape="administrator" class="is-solid"(click)="onEditMatch(i);scquadreModal = true"></clr-icon>
            <clr-icon *ngIf="match.id_partita==40" shape="administrator" class="is-solid"(click)="onEditMatch(i);cannonieriModal = true"></clr-icon>
            <clr-icon *ngIf="match.id_partita>42" shape="administrator" class="is-solid"(click)="onEditMatch(i);gironiModal = true"></clr-icon>
        </clr-dg-cell>
        <clr-dg-cell>{{match.partita}}</clr-dg-cell>
        <clr-dg-cell [style.min-width.px]="50" [style.width.px]="50">{{match.risultato}}</clr-dg-cell>
   
    </clr-dg-row>
    

</clr-datagrid>
<div class="bottoni">
    <button [clrLoading]="submitBtnState" class="btn btn-primary btn-block" clrButton="submit">Aggiungi</button>
</div>


</form>


<div *ngIf="partita_sel">

<clr-modal  [(clrModalOpen)]="risultatiModal">
    <h3 class="modal-title">{{partita_sel.partita}}</h3>
    <div class="modal-body">
        <form clrForm (submit)="onUpdateMatch(partita_sel);risultatiModal = false">                            
            <clr-radio-container clrInline>
                <label>Risultati Match</label>
                <clr-radio-wrapper *ngFor="let ris of combosel.risultati">
                  <input type="radio" clrRadio name="partita_sel.risultato"  [value]="ris" [(ngModel)]="partita_sel.risultato" />
                  <label>{{ris}}</label>
                </clr-radio-wrapper>
              </clr-radio-container>  
        </form>
    </div>
</clr-modal>

<clr-modal  [(clrModalOpen)]="cannonieriModal">
    <h3 class="modal-title">{{partita_sel.partita}}</h3>
    <div class="modal-body">
        <form clrForm (submit)="onUpdateMatch(partita_sel);cannonieriModal = false">                             
            <clr-select-container>
                <label>Seleziona</label>
                <select clrSelect name="partita_sel.risultato" [(ngModel)]="partita_sel.risultato" >
                  <option *ngFor="let item of combosel.cannonieri" [value]="item">{{item}}</option>
                </select>
              </clr-select-container>
        </form>
    </div>
</clr-modal>

<clr-modal  [(clrModalOpen)]="scquadreModal">
    <h3 class="modal-title">{{partita_sel.partita}}</h3>
    <div class="modal-body">
        <form clrForm (submit)="onUpdateMatch(partita_sel);scquadreModal = false">                             
            <clr-select-container>
                <label>Seleziona</label>
                <select clrSelect name="partita_sel.risultato" [(ngModel)]="partita_sel.risultato" >
                  <option *ngFor="let item of combosel.squadre" [value]="item.squadre">{{item.squadre}}</option>
                </select>
              </clr-select-container>
        </form>
    </div>
</clr-modal>

<clr-modal  [(clrModalOpen)]="gironiModal">
    <h3 class="modal-title">{{partita_sel.partita}}</h3>
    <div class="modal-body">
        <form clrForm (submit)="onUpdateMatch(partita_sel);gironiModal = false">                             
            <clr-select-container>
                <label>Seleziona</label>
                <select clrSelect name="partita_sel.risultato" [(ngModel)]="partita_sel.risultato" >
                  <option *ngFor="let item of getItemsGirone(partita_sel.partita)" [value]="item.squadre">{{item.squadre}}</option>
                </select>
              </clr-select-container>
        </form>
    </div>
</clr-modal>

</div>
