<div class="inventory-body">
    <div class="registrer">
        <div class="clr-row">
            <div>
                <div class="card">
                    <div class="card-header">
                        Centro Pronostici di Maresca
                    </div>
                    <div class="card-block">
                        <div class="card-title"></div>
                        <div class="card-title">

                            <div class="card-text"></div>
                            <form clrForm #newUtente="ngForm" (submit)="registrati(newUtente)">

                                <clr-input-container>
                                    <label>Username</label>
                                    <input clrInput type="text" [(ngModel)]="newUtente.username" name="username"
                                    minlength="5" maxlength="7" required />
                                </clr-input-container>
                                <clr-input-container>
                                    <label>Nome</label>
                                    <input clrInput type="text" [(ngModel)]="newUtente.nome" name="nome"
                                    minlength="3" maxlength="15" required />
                                </clr-input-container>
                                <clr-input-container>
                                    <label>Cognome</label>
                                    <input clrInput type="text" [(ngModel)]="newUtente.cognome" name="cognome"
                                    minlength="3" maxlength="15" required />
                                </clr-input-container>
                                <clr-input-container>
                                    <label>Mail</label>
                                    <input clrInput type="email" [(ngModel)]="newUtente.email" name="email" #useremail="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                </clr-input-container>
                                <clr-input-container>
                                    <label>Cellulare</label>
                                    <input clrInput type="number" [(ngModel)]="newUtente.cellulare" name="cellulare" />
                                </clr-input-container>
                                <clr-input-container>
                                    <label>Password</label>
                                    <input clrInput type="text" [(ngModel)]="newUtente.password" name="password"
                                    minlength="5" maxlength="15" required />
                                </clr-input-container>
                                <button class="btn btn-primary btn-block margine-16"
                                    [disabled]="newUtente.invalid || useremail.invalid ||loadingg">Registrati</button>
                            </form>
                            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                            <div *ngIf="success" class="alert alert-success">{{success}}</div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-icon btn-defaul" aria-label="done"
                            (click)="navigateToHome()">
                            <clr-icon shape="cursor-hand-click"></clr-icon> RITORNA ALLA HOME
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>