<div *ngIf="!bloccato&&_diff>0" class="alert alert-app-level alert-danger" style="margin-bottom: 24px;" role="alert">
  <div class="alert-items">
    <div class="alert-item static">

      <div  class="alert-text" style="font-weight: bold;">
        INSERIRE ENTRO {{_days}} GIORNI {{_hours}} ORE {{_minutes}} MINUTI
      </div>

    </div>
  </div>

</div>

<div *ngIf="bloccato" class="alert alert-app-level alert-danger" style="margin-bottom: 24px;" role="alert">
  <div class="alert-items">
    <div class="alert-item static">

      <div class="alert-text" style="font-weight: bold;">
        ATTUALMENTE I SISTEMI SONO SOSPESI
      </div>

    </div>
  </div>

</div>