h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align:center;
    font-weight: bold;
  }

.limit-height clr-datagrid {
    height: 240px;
}

.cursore{
  cursor: pointer;
}