<clr-alert *ngIf="success" [clrAlertType]="'success'">
    <clr-alert-item>
        <span class="alert-text">{{success}}</span>
    </clr-alert-item>
</clr-alert>
<clr-alert *ngIf="error" [clrAlertType]="'warning'">
    <clr-alert-item>
        <span class="alert-text">{{error}}</span>
    </clr-alert-item>
</clr-alert>

<h3>CLASSIFICA GENERALE</h3>

<span *ngIf="loading" class="spinner"></span>

<clr-datagrid *ngIf="classifica">
    <clr-dg-column [style.min-width.px]="50" [style.width.px]="50">pos</clr-dg-column>
    <clr-dg-column [clrDgField]="'id_utente'">utente</clr-dg-column>
    <clr-dg-column [style.min-width.px]="50" [style.width.px]="50">pt</clr-dg-column>
    <clr-dg-column>data</clr-dg-column>
    <clr-dg-column [style.min-width.px]="50" [style.width.px]="50">view</clr-dg-column>

    <clr-dg-row *clrDgItems="let scheda of classifica" [clrDgItem]="match">
        <clr-dg-cell [style.min-width.px]="50" [style.width.px]="50">{{scheda.posizione}}</clr-dg-cell>
        <clr-dg-cell>{{scheda.id_utente}}-{{scheda.id_schedina}}</clr-dg-cell>
        <clr-dg-cell [style.min-width.px]="50" [style.width.px]="50"><span
                style="font-weight: bold;">{{scheda.punteggio}}</span></clr-dg-cell>
        <clr-dg-cell>{{scheda.tempo}}</clr-dg-cell>
        <clr-dg-cell [style.min-width.px]="50" [style.width.px]="50">
            <clr-icon shape="eye" class="is-solid" (click)="onViewScheda(scheda);viewSchedaModal=true"></clr-icon>
        </clr-dg-cell>

    </clr-dg-row>
   
        <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="20">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Schede per pagina</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                di {{pagination.totalItems}} schede
            </clr-dg-pagination>
        </clr-dg-footer>
</clr-datagrid>



<clr-modal [(clrModalOpen)]="viewSchedaModal&&schede" [clrModalSize]="'xl'" [clrModalClosable]="false">
    <h3 class="modal-title">SCHEDA SELEZIONATA</h3>
    <div class="modal-body">
        <div class="limit-height">
            <clr-datagrid *ngIf="schede">
                <clr-dg-column>
                    <ng-container *clrDgHideableColumn="{hidden: false}">desc</ng-container>
                </clr-dg-column>
                <clr-dg-column>
                    <ng-container *clrDgHideableColumn="{hidden: false}">ris</ng-container>
                </clr-dg-column>
                <clr-dg-column [style.min-width.px]="50" [style.width.px]="50">
                    <ng-container *clrDgHideableColumn="{hidden: false}">pt</ng-container>
                </clr-dg-column>

                <clr-dg-row *clrDgItems="let match of schede;let i = index;" [clrDgItem]="match">
                    <clr-dg-cell>{{match.descrizione}}</clr-dg-cell>
                    <clr-dg-cell>{{match.risultato}}</clr-dg-cell>
                    <clr-dg-cell [style.min-width.px]="50" [style.width.px]="50">{{match.punteggio}}</clr-dg-cell>

                </clr-dg-row>

            </clr-datagrid>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="viewSchedaModal = false"
            style="float: right;">chiudi</button>
    </div>
</clr-modal>