<h3>VISUALIZZA E MODIFICA PRONOSTICI INSERITI</h3>

<clr-datagrid>
    <clr-dg-column [style.min-width.px]="50" [style.width.px]="50">id</clr-dg-column>
    <clr-dg-column>data</clr-dg-column>
    <clr-dg-column [style.min-width.px]="50" [style.width.px]="50">mod</clr-dg-column>
    <clr-dg-column [style.min-width.px]="50" [style.width.px]="50">canc</clr-dg-column>
    <clr-dg-row *clrDgItems="let scheda of pronostici;" [clrDgItem]="match">
        <clr-dg-cell [style.min-width.px]="50" [style.width.px]="50">{{scheda.id_schedina}}</clr-dg-cell>
        <clr-dg-cell>{{scheda.tempo}}</clr-dg-cell>
        <clr-dg-cell [style.min-width.px]="50" [style.width.px]="50">
            <clr-icon shape="pencil" class="is-solid" (click)="onEditScheda(scheda)"></clr-icon>
        </clr-dg-cell>
        <clr-dg-cell [style.min-width.px]="50" [style.width.px]="50">
            <clr-icon shape="trash" class="is-solid" (click)="onDeleteScheda(scheda);confermaaModal=true"></clr-icon>
        </clr-dg-cell>
    </clr-dg-row>

</clr-datagrid>

<clr-modal [(clrModalOpen)]="confermaaModal" [clrModalClosable]="false">
    <h3 class="modal-title">Conferma</h3>
    <div class="modal-body">
        Sei sicuro di volerlo eliminare?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" style="float: right;"
            (click)="deleteScheda();confermaaModal = false">Effettua</button>
        <button type="button" class="btn btn-outline" (click)="confermaaModal = false"
            style="float: right;">Annulla</button>
    </div>
</clr-modal>
<br>
<div *ngIf="viewModScheda">

    <clr-datagrid>
        <clr-dg-column>Evento</clr-dg-column>
        <clr-dg-column>Risultato</clr-dg-column>

        <clr-dg-row *clrDgItems="let element of scheda_selected;" [clrDgItem]="element">

            <clr-dg-cell>{{element.descrizione}} {{element.girone}}</clr-dg-cell>
            <clr-dg-cell *ngIf="element.tipo==1">
                <a (click)="onEditEvento(element);risultatiModal = true">{{element.risultato}}</a>
            </clr-dg-cell>
            <clr-dg-cell *ngIf="element.tipo==2&&element.gruppo!='C'">
                <a (click)="onEditEvento(element);gironiModal = true">{{element.risultato}}</a>
            </clr-dg-cell>
            <clr-dg-cell *ngIf="element.tipo==2&&element.gruppo=='C'">
                <a (click)="onEditEvento(element);bomberModal = true">{{element.risultato}}</a>
            </clr-dg-cell>
            <clr-dg-cell *ngIf="element.tipo==3">
                <a (click)="onEditEvento(element);gironiModal = true">{{element.risultato}}</a>
            </clr-dg-cell>

        </clr-dg-row>

    </clr-datagrid>

</div>

<div *ngIf="evento_selected">
    <clr-modal [(clrModalOpen)]="risultatiModal" [clrModalClosable]="false">
        <h3 class="modal-title">{{evento_selected.descrizione}}</h3>
        <div class="modal-body">
            <form clrForm (submit)="onUpdateEvento(evento_selected);risultatiModal = false">
                <clr-radio-container clrInline>
                    <label>Risultati Match</label>
                    <clr-radio-wrapper *ngFor="let ris of combo.risultati">
                        <input type="radio" clrRadio name="evento_selected.risultato" [value]="ris"
                            [(ngModel)]="evento_selected.risultato" />
                        <label>{{ris}}</label>
                    </clr-radio-wrapper>
                </clr-radio-container>
                <br>
                <button class="btn btn-primary" [disabled]="evento_selected.invalid"
                    style="float: right;">Aggiorna</button>
                <button type="button" class="btn btn-outline" (click)="risultatiModal = false"
                    style="float: right;">Annulla</button>
            </form>

        </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="gironiModal" [clrModalClosable]="false">
        <h3 class="modal-title">{{evento_selected.descrizione}} {{evento_selected.girone}}</h3>
        <div class="modal-body">
            <form clrForm (submit)="onUpdateEvento(evento_selected);gironiModal = false">
                <clr-select-container>
                    <label>Seleziona</label>
                    <select clrSelect name="evento_selected.risultato" [(ngModel)]="evento_selected.risultato">
                        <option *ngFor="let item of getSquadreByGirone(evento_selected.girone)" [value]="item.nome">
                            {{item.nome}}</option>
                    </select>
                </clr-select-container>
                <br>
                <button class="btn btn-primary" [disabled]="evento_selected.invalid"
                    style="float: right;">Aggiorna</button>
                <button type="button" class="btn btn-outline" (click)="gironiModal = false"
                    style="float: right;">Annulla</button>
            </form>

        </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="bomberModal" [clrModalClosable]="false">
        <h3 class="modal-title">{{evento_selected.descrizione}}}</h3>
        <div class="modal-body">
            <form clrForm (submit)="onUpdateEvento(evento_selected);bomberModal = false">
                <clr-select-container>
                    <label>Seleziona</label>
                    <select clrSelect name="evento_selected.risultato" [(ngModel)]="evento_selected.risultato">
                        <option *ngFor="let item of combo.cannonieri" [value]="item">{{item}}</option>
                    </select>
                </clr-select-container>
                <br>
                <button class="btn btn-primary" [disabled]="evento_selected.invalid"
                    style="float: right;">Aggiorna</button>
                <button type="button" class="btn btn-outline" (click)="bomberModal = false"
                    style="float: right;">Annulla</button>
            </form>

        </div>
    </clr-modal>
</div>