<span *ngIf="loading" class="spinner"></span>

<div *ngIf="opzioni">
    <timer-data [opzioni]="opzioni"></timer-data>
</div>

<div *ngIf="!loading" class="clr-row">
    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-12">
        <div class="card">
            <div class="card-img">
                <img src="assets/img/pronostici.jpg">
            </div>
            <div class="card-block">
                <h4 class="card-title">Benvenuto {{username}} nel fanta pronostici maresca</h4>
                <p class="card-text">
                    Di seguito alcune istruzioni per la compilazione dei pronostici.
                </p>
            </div>
            <div class="aggiunto" [innerHtml]="htmlToAdd"></div>

            <div class="card-footer">
                <p class="card-text">
                    E' prevista la possibilità di effettuare il download del vecchio file per i nostalgici:
                </p>

                <img src="assets/img/download.png"
                    (click)="downloadPdf('../../../../assets/download/FANTAEUROPEO.pdf','FANTAEUROPEO.pdf')"
                    style="width:30%">
            </div>
        </div>
    </div>
    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-12 padtop">
        <img src="assets/img/gironi.png" style="width:100%">
        <h3>PRONOSTICI VALIDI</h3>
        <clr-datagrid *ngIf="puntiPrevisti">
            <clr-dg-column>Descrizione</clr-dg-column>
            <clr-dg-column [style.min-width.px]="50" [style.width.px]="50">val</clr-dg-column>

            <clr-dg-row *clrDgItems="let pt of puntiPrevisti">
                <clr-dg-cell>{{pt.descrizione}}</clr-dg-cell>
                <clr-dg-cell [style.min-width.px]="50" [style.width.px]="50"><span
                        style="font-weight: bold;">{{pt.valore}}</span></clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
    </div>
</div>