<span *ngIf="loading" class="spinner"></span>

<div *ngIf="dettagli">
    <timer-data [dettagli]="dettagli"></timer-data>
</div>

<div *ngIf="!loading" class="clr-row">
    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-12">
        <div class="card">
            <div class="card-img">
                <img src="{{dominio}}archivio/img/{{dettagli.sigla}}_1.png">
            </div>
            <div class="card-block">
                <h4 class="card-title">Benvenuto {{username}} nel fanta pronostici maresca</h4>
                <p class="card-text">
                    Di seguito alcune istruzioni per la compilazione dei pronostici.
                </p>
            </div>
            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        Per il cambio di competizione:
                        <ul class="list">
                            <li>Selezione il nome della competizione in alto nell'header della pagina</li>
                            <li>Dal menu che compare scegli la competizione, attendi pochi secondi che il sistema riaggiorni la pagina</li>
                        </ul>
                    </li>
                     <li class="list-group-item">
                        Per la gestione dei pronostici:
                        <ul class="list">
                            <li>Apri il menu laterale Pronostici Utente dove potrai gestire tutte le schede associate al tuo account per quella competizione</li>
                            <li>Sarà possibile aggiungere, modificarle ed eliminarle le schede</li>
                            <li>La scheda puo' essere inserita partendo da zero, generata random o copiata da una già esistente </li>
                            <li>Una volta selezionato un elemento della lista di schede inserite verrà aperta la scheda dove potrai modificare ciascun risultato uno alla volta</li>
                            <li>Nel caso il tempo di inserimento sarà scaduto comparirà solo la lista delle tue schede con punti e posizione selezionabili in sola lettura</li>
                        </ul>
                    </li>            
                    <li class="list-group-item">
                        Per verificare la classifica totale una volta che saranno bloccati gli inserimenti:
                        <ul class="list">
                            <li>Apri il menu laterale Classifica</li>
                            <li>Per ricercare solo i pronostici effettuati da un determinato account è prevista la
                                possibilità di filtrare per ciascun account e ordinare in base ai punti e posizione</li>
                            <li>Selezionare poi la casella view per visualizzare l'intera schedina</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="card-footer">
                <p class="card-text">
                    E' prevista la possibilità di effettuare il download del vecchio file per i nostalgici:
                </p>

                <img src="assets/img/download.png"
                    (click)="downloadPdf('archivio/download/FANTAEUROPEO.pdf','FANTAEUROPEO.pdf')"
                    style="width:30%">
            </div>
        </div>
    </div>
    <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-12 padtop">
        <img src="{{dominio}}archivio/img/{{dettagli.sigla}}_2.png" style="width:100%">
        <h3>PRONOSTICI VALIDI</h3>
        <clr-datagrid *ngIf="puntiPrevisti">
            <clr-dg-column>Descrizione</clr-dg-column>
            <clr-dg-column [style.min-width.px]="50" [style.width.px]="50">val</clr-dg-column>

            <clr-dg-row *clrDgItems="let pt of puntiPrevisti">
                <clr-dg-cell>{{pt.descrizione}}</clr-dg-cell>
                <clr-dg-cell [style.min-width.px]="50" [style.width.px]="50"><span
                        style="font-weight: bold;">{{pt.valore}}</span></clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
    </div>
</div>