<span *ngIf="loading" class="spinner"></span>
<clr-alert *ngIf="success" [clrAlertType]="'success'">
  <clr-alert-item>
    <span class="alert-text">{{success}}</span>
  </clr-alert-item>
</clr-alert>
<clr-alert *ngIf="error" [clrAlertType]="'warning'">
  <clr-alert-item>
    <span class="alert-text">{{error}}</span>
  </clr-alert-item>
</clr-alert>

<div *ngIf="bloccato" class="bottoni">
  <clr-alert [clrAlertType]="'warning'" [clrAlertClosable]="false">
    <clr-alert-item>
      <span class="alert-text">Attualmente i sistemi sono sospesi</span>
    </clr-alert-item>
  </clr-alert>
</div>

<div *ngIf="!bloccato&&!viewSchedaDaCompilare" class="bottoni">
  <button class="btn btn-defaul btn-block" [disabled]="disableBtn" (click)="nuovaScheda()">INSERISCI NUOVA
    SCHEDA</button>
  <button [disabled]="disableBtn" class="btn btn-defaul btn-block" (click)="randomScheda()">GENERA RANDOM
  </button>
  <button  [disabled]="disableBtn" class="btn btn-defaul btn-block" (click)="copiaModal = true">COPIA SCHEDA
  </button>
</div>



<div *ngIf="viewSchedaDaCompilare">
  <inserimento-scheda *ngIf="combosel" [combo]="combosel" [scheda]="scheda" (ritono)="viewScheda($event)">
  </inserimento-scheda>
</div>

<div *ngIf="!bloccato&&pronostici&&pronostici.length">
  <modifica-schede [pronostici]="pronostici" [combo]="combosel"></modifica-schede>
</div>

<div *ngIf="bloccato&&pronostici&&pronostici.length">
  <visualizza-schede [pronostici]="pronostici"></visualizza-schede>
</div>

<clr-modal [(clrModalOpen)]="copiaModal" [clrModalClosable]="false">
  <h3 class="modal-title">COPIA SCHEDA</h3>
  <div class="modal-body">
    <form clrForm (submit)="copiaScheda(id_copia);copiaModal = false">
      <clr-select-container>
        <label>Seleziona</label>
        <select clrSelect name="id_copia" [(ngModel)]="id_copia">
          <option *ngFor="let item of pronostici" [value]="item.id_schedina">
            {{item.id_schedina}}</option>
        </select>
      </clr-select-container>
      <br>
      <button class="btn btn-primary" [disabled]="!id_copia" style="float: right;">Copia</button>
      <button type="button" class="btn btn-outline" (click)="copiaModal = false" style="float: right;">Annulla</button>
    </form>

  </div>
</clr-modal>