<h3>VISUALIZZA PRONOSTICI INSERITI</h3>

<clr-datagrid>
    <clr-dg-column [style.min-width.px]="50" [style.width.px]="50">pos</clr-dg-column>
    <clr-dg-column>data</clr-dg-column>
    <clr-dg-column>pt</clr-dg-column>
    <clr-dg-column [style.min-width.px]="50" [style.width.px]="50">view</clr-dg-column>
    <clr-dg-row *clrDgItems="let scheda of pronostici;" [clrDgItem]="match">
        <clr-dg-cell [style.min-width.px]="50" [style.width.px]="50">{{scheda.posizione}}°</clr-dg-cell>
        <clr-dg-cell>{{scheda.tempo}}</clr-dg-cell>
        <clr-dg-cell>{{scheda.punteggio}}</clr-dg-cell>
        <clr-dg-cell [style.min-width.px]="50" [style.width.px]="50">
            <clr-icon shape="eye" class="is-solid" (click)="onViewScheda(scheda)"></clr-icon>
        </clr-dg-cell>
    </clr-dg-row>

</clr-datagrid>
<br>
<div *ngIf="viewScheda">

    <clr-datagrid>
        <clr-dg-column>Evento</clr-dg-column>
        <clr-dg-column>Risultato</clr-dg-column>
        <clr-dg-column>Punti</clr-dg-column>

        <clr-dg-row *clrDgItems="let element of scheda_selected;" [clrDgItem]="element">

            <clr-dg-cell>{{element.descrizione}} {{element.girone}}</clr-dg-cell>
            <clr-dg-cell>{{element.risultato}}</clr-dg-cell>
            <clr-dg-cell>{{element.punteggio}}</clr-dg-cell>

        </clr-dg-row>

    </clr-datagrid>

</div>

