<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="gap">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span>PRONOSTICI</span>
    <span class="filler"></span>
    <span *ngIf="isAdmin">{{username.substring(0,7)}} <clr-icon shape="user" (click)="closePronostici = true">
      </clr-icon></span>
    <span *ngIf="!isAdmin">{{username.substring(0,7)}} <clr-icon shape="user"></clr-icon></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/home/dashboard'" (click)="sidenav.toggle()">
        <clr-icon class="icone" shape="home"></clr-icon>Home
      </a>
      <mat-divider *ngIf="isAdmin"></mat-divider>
      <mat-divider *ngIf="isAdmin"></mat-divider>
      <mat-divider *ngIf="isAdmin"></mat-divider>
      <a *ngIf="isAdmin" mat-list-item [routerLink]="'/home/gestione-utente'" (click)="sidenav.toggle()">
        <clr-icon class="icone" shape="user"></clr-icon>Gestione Admin
      </a>
      <mat-divider *ngIf="isAdmin&&!variabile"></mat-divider>
      <mat-divider *ngIf="isAdmin&&!variabile"></mat-divider>
      <mat-divider *ngIf="isAdmin&&!variabile"></mat-divider>
      <a *ngIf="isAdmin&&!variabile" mat-list-item [routerLink]="'/home/nuova-competizione'" (click)="sidenav.toggle()">
        <clr-icon class="icone" shape="cog"></clr-icon>Crea Competizione
      </a>
      <mat-divider *ngIf="isAdmin"></mat-divider>
      <mat-divider *ngIf="isAdmin"></mat-divider>
      <mat-divider *ngIf="isAdmin"></mat-divider>
      <a *ngIf="isAdmin" mat-list-item [routerLink]="'/home/gestione-competizione'" (click)="sidenav.toggle()">
        <clr-icon class="icone" shape="event"></clr-icon>Gestione Competizione
      </a>
      <mat-divider *ngIf="isPlayer"></mat-divider>
      <mat-divider *ngIf="isPlayer"></mat-divider>
      <mat-divider *ngIf="isPlayer"></mat-divider>
      <a *ngIf="isPlayer" mat-list-item [routerLink]="'/home/lista-pronostici'" (click)="sidenav.toggle()">
        <clr-icon class="icone" shape="file-group"></clr-icon>Pronostici Personali
      </a>
      <mat-divider *ngIf="isPlayer"></mat-divider>
      <mat-divider *ngIf="isPlayer"></mat-divider>
      <mat-divider *ngIf="isPlayer"></mat-divider>
      <a *ngIf="isPlayer" mat-list-item [routerLink]="'/home/inserimento-pronostico'" (click)="sidenav.toggle()">
        <clr-icon class="icone" shape="copy-to-clipboard"></clr-icon>Insert Pronostico
      </a>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="'/home/classifica'" (click)="sidenav.toggle()">
        <clr-icon class="icone" shape="calculator"></clr-icon>Classifica
      </a>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <a mat-list-item  (click)="logOut()">
        <clr-icon class="icone" shape="logout"></clr-icon>Logout
      </a>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item>
        <clr-icon class="icone" shape="window-close"></clr-icon>Close
      </a>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
    </mat-nav-list>
    <img src="assets/img/scommesse.png" class="mx-auto d-block" style="width:200px">
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="min-height: 88vh;padding:2%;background-color: rgb(219,219,219);">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color='primary'>
  <span class='spacer'></span>
  <h3>© FantaEuropeo Maresca</h3>
  <span class='spacer'></span>
</mat-toolbar>


<clr-modal [(clrModalOpen)]="closePronostici" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <h3 class="modal-title">BLOCCA SBLOCCA</h3>
  <div class="modal-body">
    <clr-alert *ngIf="success" [clrAlertType]="'success'">
      <clr-alert-item>
        <span class="alert-text">{{success}}</span>
      </clr-alert-item>
    </clr-alert>
    <P>Questa opzione consente all'admin di bloccare e sbloccare l'inserimento e le modifiche di schedine</P>
    <form clrForm (submit)="onUpdateClosePronostici(variabile)">
      <clr-toggle-container clrInline>

        <clr-toggle-wrapper>
          <input type="checkbox" clrToggle name="variabile" [(ngModel)]="variabile" />
          <label *ngIf="!variabile">BLOCCA</label>
          <label *ngIf="variabile">SBLOCCA</label>
        </clr-toggle-wrapper>
      </clr-toggle-container>
      <p *ngIf="!variabile">PRONOSTICI SBLOCCATI!</p>
      <p *ngIf="variabile">TUOTTO BLOCCATO!</p>
      <br>
      <button class="btn btn-primary" style="float: right;">Aggiorna</button>
      <button type="button" class="btn btn-outline" (click)="closePronostici = false"
        style="float: right;">Chiudi</button>
    </form>
  </div>
</clr-modal>