<h3>ELIMINA PRONOSTICI INSERITI</h3>

<clr-datagrid>
    <clr-dg-column [style.min-width.px]="50" [style.width.px]="50">id</clr-dg-column>
    <clr-dg-column>utente</clr-dg-column>
    <clr-dg-column>data</clr-dg-column>
    <clr-dg-column>desc</clr-dg-column>
    <clr-dg-column [style.min-width.px]="50" [style.width.px]="50">canc</clr-dg-column>
    <clr-dg-row *clrDgItems="let scheda of pronostici;" [clrDgItem]="match">
        <clr-dg-cell [style.min-width.px]="50" [style.width.px]="50">{{scheda.id_schedina}}</clr-dg-cell>
        <clr-dg-cell>{{scheda.id_utente}}</clr-dg-cell>
        <clr-dg-cell>{{scheda.tempo}}</clr-dg-cell>
        <clr-dg-cell>{{scheda.descrizione}}</clr-dg-cell>
        <clr-dg-cell [style.min-width.px]="50" [style.width.px]="50">
            <clr-icon shape="trash" class="is-solid" (click)="onDeleteScheda(scheda);confermaaModal=true"></clr-icon>
        </clr-dg-cell>
    </clr-dg-row>

</clr-datagrid>

<clr-modal [(clrModalOpen)]="confermaaModal" [clrModalClosable]="false">
    <h3 class="modal-title">Conferma</h3>
    <div class="modal-body">
        Sei sicuro di volerlo eliminare?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" style="float: right;"
            (click)="deleteScheda();confermaaModal = false">Effettua</button>
        <button type="button" class="btn btn-outline" (click)="confermaaModal = false"
            style="float: right;">Annulla</button>
    </div>
</clr-modal>
<br>

