/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: playSign;
    src: url(assets/fonts/PlaySign.otf) format("truetype");
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinner{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
 }

 .btn{
   
    border-radius: 15px; 
  /* -moz-border-radius: 15px;  firefox */
  /*    -webkit-border-radius: 15px;safari, chrome */
    
}

.btn:focus{
    border:none !important;
    outline:none !important;
}



.inventory-body {
    position: fixed;
    min-width: 100%;

    background-image: url("assets/img/gradiente.gif");
    background-size: cover;
    background-repeat: no-repeat;
    }

    .clr-input {
        border: 1px solid gray !important;
        height: 1.5rem !important;
        max-height: 1.5rem !important;
        border-radius: 10px !important;
    }