<clr-alert *ngIf="success" [clrAlertType]="'success'">
    <clr-alert-item>
        <span class="alert-text">{{success}}</span>
    </clr-alert-item>
</clr-alert>
<clr-alert *ngIf="error" [clrAlertType]="'warning'">
    <clr-alert-item>
        <span class="alert-text">{{error}}</span>
    </clr-alert-item>
</clr-alert>

<div class="clr-row">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-header">
                Aggiungi Bomber
            </div>
            <form class="clr-form" (submit)="onAddBomber(newBomber)">
                <div class="card-block">
                    <div class="clr-form-control">
                        <label for="cannoniere" class="clr-control-label">Inserisci il nome e aggiorna
                            li lista!</label>
                        <div class="clr-control-container clr-error">
                            <div class="clr-input-wrapper mb-16">
                                <input clrInput placeholder="Cannoniere" type="text"
                                    [(ngModel)]="newBomber" name="newBomber" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-sm" [disabled]="newBomber==''">Aggiungi</button>
                </div>
            </form>
        </div>
    </div>
</div>
<clr-datagrid>
  <clr-dg-column [style.width.px]="80">elimina</clr-dg-column>
  <clr-dg-column>Cannoniere</clr-dg-column>

  <clr-dg-row *clrDgItems="let bomber of cannonieri;let i = index;" [clrDgItem]="bomber">

      <clr-dg-cell [style.width.px]="80">
          <clr-icon shape="trash" class="is-solid" (click)="onDeleteBomber(bomber)"></clr-icon>
      </clr-dg-cell>
      <clr-dg-cell>{{bomber}}</clr-dg-cell>

  </clr-dg-row>

</clr-datagrid>
